{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}Account{% endblock %}
{% block body %}
<section id="doctors" class="doctors">
        <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="data:;base64,{{image_file}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{ g.user.name }}</h4>
                <span>{{ g.user.email }}</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
    <div class='page-header'>
        <h1>Update</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form)}}
    </div>

</section>
{% endblock %}